
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  i.redcss{
    font-size: 1em;
    color: #c82333!important;
}

i.bluecss{
  font-size: 1em;
  color: #06458A!important;
}

  
  